* {
    margin: 0%;
    padding: 0%;
  }
  
  .container {
    margin-top: 1rem;
  }
  
  .task-post {
    display: flex;
    flex-direction: row;
    text-align: justify;
    margin-top: 11rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    background: #dee3e8;
    margin-left: -1rem;
    border-radius: 7px;
  }
  
  .post-elements {
    margin-left: 2rem;
    padding: 1rem;
    margin-top: 1rem;
  }
  
  .posts {
    background: #6bb7d5;
    height: 19rem;
    width: 23rem;
    padding: 2rem;
  }
  